@model ZONAUTO.Models.Transaccione

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transaccione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransaccionId" />
            <div class="form-group">
                <label asp-for="CompradorId" class="control-label"></label>
                <select asp-for="CompradorId" class="form-control" asp-items="ViewBag.CompradorId"></select>
                <span asp-validation-for="CompradorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendedorId" class="control-label"></label>
                <select asp-for="VendedorId" class="form-control" asp-items="ViewBag.VendedorId"></select>
                <span asp-validation-for="VendedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicacionId" class="control-label"></label>
                <select asp-for="PublicacionId" class="form-control" asp-items="ViewBag.PublicacionId"></select>
                <span asp-validation-for="PublicacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoFinal" class="control-label"></label>
                <input asp-for="MontoFinal" class="form-control" />
                <span asp-validation-for="MontoFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetodoDePago" class="control-label"></label>
                <input asp-for="MetodoDePago" class="form-control" />
                <span asp-validation-for="MetodoDePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Confirmado" class="control-label"></label>
                <input asp-for="Confirmado" class="form-control" />
                <span asp-validation-for="Confirmado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
